.container{
  height: 100%;
}


.activeImage__image{
  height: 300px;

  img{
    border-radius: 10px;
  }
}

.images{
  margin-top: 1rem;
  display: flex;
  overflow-x: scroll;
  .image{
    min-width: 100px;
    height:100px;
    border-radius:20%;
    padding: 0.2rem;

    img{
      border-radius: 50%;
    }
  }
}
